@import "../../styles/variables.scss";

.breadcrumbs {
    margin: 32px 0 24px;

    &__inner {
        width: 100%;
        display: flex;
        gap: 8px;
        overflow: hidden;

        &__item {
            white-space: nowrap;
            color: $brand-color-dark-2;


            &:hover {
                color: $brand-color-dark-2;
            }

            &:last-child {
                overflow: hidden;
                text-overflow: ellipsis;

            }

            &:not(:first-child):before {
                content: "/";
                display: inline-block;
                margin-right: 8px;
            }

        }
    }
}