@import "../../styles/variables.scss";

.breadcrumbs {
    margin: 32px 0 24px;

    &__inner {
        width: 100%;
        display: flex;
        column-gap: 15px;

        &__item {
            white-space: nowrap;
            color: $gray;
            overflow: hidden;

            &:hover {
                color: $gray;
            }

            &:not(:first-child):before {
                content: "/";
                display: inline-block;
                margin-right: 8px;
            }

        }
    }
}